* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  border: 2px solid #ff0062;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(0, 0, 0, 0.1);
}

input[name="searchCity"] {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 6px;
  caret-color: #ff00f7;
  outline: none;
  font-weight: 500;
  font-size: 18px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: transparent;
  background: linear-gradient(60deg, #fff, #1e00ff, #02d1ff, #ff0000);
  background-clip: text;
}
